@beaml1ve:registry=https://npm.pkg.github.com/beaml1ve
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

@beam-bence:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
